html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pizza {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
    .pizza__background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .pizza__steam-top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;

        -webkit-animation-name: steam-top;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: easy-out;
    }

    .pizza__steam-bottom {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        opacity: 0;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;

        -webkit-animation-name: steam-bottom;
        -webkit-animation-duration: 5s;
        -webkit-animation-delay: 2.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: easy-out;
    }


@-webkit-keyframes steam-top {

    0% {
        bottom: 0;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        bottom: 35%;
    }


}


@-webkit-keyframes steam-bottom {

    0% {
        top: 50%;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 0;
    }

}


/* regular aspect ratio for 5:4 or 4:3 displays */
/* this is an interval between portrait and landscape */
/* also this is a version for devices who can't work with media queries */

.pizza__background { z-index: -100; background-image: url(../images/pizza_square_small.jpg); }
.pizza__steam-top { background-image: url(../images/pizza_square_small__steam-top.png); }
.pizza__steam-bottom { background-image: url(../images/pizza_square_small__steam-bottom.png); }

@media screen and (min-width: 1200px) {
    .pizza__background { background-image: url(../images/pizza_square_large.jpg); }
    .pizza__steam-top { background-image: url(../images/pizza_square_large__steam-top.png); }
    .pizza__steam-bottom { background-image: url(../images/pizza_square_large__steam-bottom.png); }
}




/* portrait aspect ratio for smart phones */
@media screen and (max-aspect-ratio: 1/1) and (max-width: 600px) {
    .pizza__background { background-image: url(../images/pizza_portrait_small.jpg); }
    .pizza__steam-top { background-image: url(../images/pizza_portrait_small__steam-top.png); }
    .pizza__steam-bottom { background-image: url(../images/pizza_portrait_small__steam-bottom.png); }
}

@media screen and (max-aspect-ratio: 1/1) and (min-width: 601px) {
    .pizza__background { background-image: url(../images/pizza_portrait_large.jpg); }
    .pizza__steam-top { background-image: url(../images/pizza_portrait_large__steam-top.png); }
    .pizza__steam-bottom { background-image: url(../images/pizza_portrait_large__steam-bottom.png); }
}



/* landscape aspect ratio for smart phones */
@media screen and (min-aspect-ratio: 3/2) and (max-width: 1700px) {
    .pizza__background { background-image: url(../images/pizza_landscape_small.jpg); }
    .pizza__steam-top { background-image: url(../images/pizza_landscape_small__steam-top.png); }
    .pizza__steam-bottom { background-image: url(../images/pizza_landscape_small__steam-bottom.png); }
}

@media screen and (min-aspect-ratio: 3/2) and (min-width: 1771px) {
    .pizza__background { background-image: url(../images/pizza_landscape_large.jpg); }
    .pizza__steam-top { background-image: url(../images/pizza_landscape_large__steam-top.png); }
    .pizza__steam-bottom { background-image: url(../images/pizza_landscape_large__steam-bottom.png); }
}






.logo {
    display: block;
    padding: 0 0 18.5227%;
    background-image: url(../images/logo_320.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

@media screen and (min-width: 321px) and (max-width: 600px) {
    .logo {
        background-image: url(../images/logo_480.png);
    }
}
@media screen and (min-width: 601px) and (max-width: 880px) {
    .logo {
        background-image: url(../images/logo_768.png);
    }
}
@media screen and (min-width: 880px) {
    .logo {
        background-image: url(../images/logo_880.png);
    }
}


/* rounded */

.rounded {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(../images/icon_45px.png?5);
    background-repeat: no-repeat;
    background-size: auto 100%;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .rounded { background-image: url(../images/icon_45px@2x.png?5); }
}

.rounded_facebook       { background-color: #3f5e9b; background-position: 0 0;}
.rounded_facebook:hover { background-color: #203662; }
.rounded_twitter        { background-color: #209bd6; background-position: -45px 0;}
.rounded_twitter:hover  { background-color: #27759a; }
.rounded_youtube        { background-color: #ec3a39; background-position: -90px 0;}
.rounded_youtube:hover  { background-color: #b72928; }


/* icon list */

.icon-list {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}
    .icon-list__item {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 13px;
    }

    .icon-list__item:first-child {
        margin-left: 0;
    }


/* button */

.button {
    display: inline-block;
    padding: 0 20px;
    height: 49px;
    line-height: 49px;
    border: 2px solid #485d23;
    border-radius: 26px;
    background: #94bc4f;
    background: -webkit-linear-gradient( #d3e37d, #5a9723 );
    background:         linear-gradient( #d3e37d, #5a9723 );
    text-decoration: none;
    text-align: center;
    color: #edf3e2;
}

.button:hover {
    background: #94bc4f;
}

.button_large {
    width: 260px;
}

@media screen and (min-width: 400px) {
    .button_large {
        width: 280px;
    }
}

/* social */

.social {
    display: inline-block;
    overflow: hidden;
}
    .social__title {
        display: inline-block;
    }

    .social__buttons {
        display: inline-block;
        margin: 0 0 0 16px;
    }


/* copyright */

.copyright {
    display: inline-block;
}



/* footer */

.footer {
    position: relative;
    height: 237px;
    background: #fff;
    box-shadow: 0 -6px 10px 0 rgba(8,5,4, .28);
}

@media screen and (min-width: 600px) {
    .footer {
        height: 158px;
    }
}

@media screen and (min-width: 940px) {
    .footer {
        height: 79px;
    }
}
    .footer__item {
        height: 79px;
        line-height: 79px;
        vertical-align: middle;
        text-align: center;
    }

@media screen and (min-width: 600px) {

    .footer__item_center {
        text-align: center;
    }

    .footer__item_right {
        text-align: right;
        position: absolute;
        top: 79px;
        right: 28px;
    }

    .footer__item_left {
        text-align: left;
        position: absolute;
        top: 79px;
        left: 28px;
    }

}

@media screen and (min-width: 940px) {

    .footer__item_center {
        text-align: center;
    }

    .footer__item_right {
        text-align: right;
        position: absolute;
        top: 0;
        right: 28px;
    }

    .footer__item_left {
        text-align: left;
        position: absolute;
        top: 0;
        left: 28px;
    }

}

/* ribbon */

.ribbon {
    height: 150px;
    background: url(../images/ribbon_150px.png) no-repeat right bottom;
}

@media screen and (min-width: 600px) {

    .ribbon {
        height: 235px;
        background: url(../images/ribbon_235px.png) no-repeat right bottom;
    }

}


.page {
    position: relative;
    min-height: 100%;
    z-index: 100;
}
    .page__inner {
        padding: 0 0 472px;
    }


.bottom
{
    margin: -387px 0 0;
    height: 387px;
    position: relative;
    z-index: 100;
}


@media screen and (min-width: 600px) {

    .bottom {
        margin-top: -393px;
        height: 393px;
    }

}

@media screen and (min-width: 940px) {

    .bottom {
        margin-top: -314px;
        height: 314px;
    }

}




.content {
    padding: 10px 0 0;
    position: relative;
    z-index: 1000;
}

@media screen and (min-width: 880px) {

    .content {
        width: 880px;
        margin: 0 auto;
    }

}

.content__logo {
    margin: 10px 0 0;
}

@media screen and (min-width: 321px) and (max-width: 600px) {
    .content__logo {
        margin-top: 20px;
    }
}
@media screen and (min-width: 601px) and (max-width: 880px) {
    .content__logo {
        margin-top: 30px;
    }
}
@media screen and (min-width: 880px) {
    .content__logo {
        margin-top: 40px;
    }
}
