@import 'blocks/pizza';
@import 'blocks/video';
@import 'blocks/button';
@import 'blocks/rounded';
@import 'blocks/icon-list';
@import 'blocks/social';
@import 'blocks/copyright';



/* footer */

.footer {
    position: relative;
    height: 186px;
    background: #fff;
}

.footer__button {
    position: absolute;
    left: 28px;
    right: 28px;
    top: 22px
}

.footer__follow {
    position: absolute;
    left: 20px;
    top: 125px;
}

.footer__copyright {
    position: absolute;
    right: 28px;
    top: 136px;
}

@media screen and (min-width: 600px) {

    .footer {
        height: 110px;
        box-shadow: 0 -6px 10px 0 rgba(8,5,4, .28);
    }

    .footer__button {
        left: 180px;
        right: 180px;
    }

    .footer__follow {
        top: 29px;
    }

    .footer__copyright {
        top: 40px;
    }

}

@media screen and (min-width: 800px) {
    .footer__button {
        width: 370px;
        position: absolute;
        left: 50%;
        margin: 0 0 0 -185px;
    }
}

@media screen and (min-width: 1400px) {

    .footer {
        height: 126px;
        box-shadow: 0 -8px 13px 0 rgba(8,5,4, .28);
    }
    .footer__button {
        top: 24px;
    }

    .footer__follow {
        top: 34px;
    }

    .footer__copyright {
        top: 49px;
    }

}






/* ribbon */

.ribbon {
    position: relative;
    height: 73px;
    background: #6c6e71;
    box-shadow: 0 1px 6px 0 rgba(8,5,4, .73);
    /*z-index: 100;*/

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #fff;
}
.ribbon__title {
    padding: 11px 0 0;
}

.ribbon__additional {
    padding: 3px 0 0;
    font-weight: bold;
}

@media screen and (min-width: 1000px) {

    .ribbon {
        width: 500px;
        box-shadow: 0 3px 17px 0 rgba(8,5,4, .73);
        background: #a4c65a;
        position: absolute;
        right: -130px;
        bottom: 170px;
        /*z-index: 0;*/
        -webkit-transform: rotate(-35deg) translate(0);
    }

}



/* logo */

.logo {
    display: block;
    padding: 0 0 28.75%;
    background-image: url(../images/logo_320.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .logo {
        background-image: url(../images/logo_480.png);
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .logo {
        padding-bottom: 17.5%;
        background-image: url(../images/logo_800.png);
    }
}

@media screen and (min-width: 800px) and (max-width: 1399px)  {
    .logo {
        padding: 0;
        width: 800px;
        height: 140px;
        margin: 0 auto;
        background-image: url(../images/logo_800.png);
    }
}

@media screen and (min-width: 1400px) {
    .logo {
        padding: 0;
        width: 1040px;
        height: 208px;
        margin: 0 auto;
        background-image: url(../images/logo_1040.png);
    }
}



.slider {
    position: relative;
    margin: 0 5px;
    height: 600px;
    line-height: 600px;
    vertical-align: middle;
    text-align: center;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .slider { margin: 0 10px }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
    .slider { margin: 0 10px; }
}
@media screen and (min-width: 800px) and (max-width: 1399px)  {
    .slider {
        width: 620px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1400px) {
    .slider {
        width: 800px;
        margin: 0 auto;
    }
}
.slider__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    padding: 0 0 95%;
    display: none;
}
.slider__item__inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slider__item_current {
    position: relative;
    display: block;
}


.inner-slider {
    width: 100%;
    height: 0;
    padding: 0;
}

.page {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
.page__inner {
    position: relative;
    padding: 0 0 259px;
    /*z-index: 1000;*/
}

.page__inner__video {
    margin: 20px 5px;
    z-index: 100;
    position: relative;
}


@media screen and (min-width: 800px) {
    .page__inner__video {
        margin-left: auto;
        margin-right: auto;
        width: 790px;
    }
}


@media screen and (min-width: 600px) and (max-width: 999px) {
    .page__inner { padding-bottom: 183px; }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
    .page__inner { padding-bottom: 110px; }
}

@media screen and (min-width: 1400px) {
    .page__inner { padding-bottom: 126px; }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .page__inner__logo { padding-top: 10px; }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .page__inner__logo { padding-top: 20px; }
}

@media screen and (min-width: 800px) and (max-width: 1399px)  {
    .page__inner__logo { padding-top: 30px; }
}

@media screen and (min-width: 1400px) {
    .page__inner__logo { padding-top: 40px; }
}

/* bottom */

.bottom
{
    position: relative;
    /*z-index: 100;*/
    height: 259px;
    margin: -259px 0 0;
}

@media screen and (min-width: 1000px) {
    .bottom__ribbon {
        position: absolute;
        /*z-index: 0;*/
        left: 0;
        bottom: 0;
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
}

.bottom__footer {
    position: relative;
    /*z-index: 2000;*/
}

@media screen and (min-width: 600px) and (max-width: 999px) {

    .bottom {
        height: 183px;
        margin-top: -183px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1399px) {

    .bottom {
        height: 110px;
        margin-top: -110px;
    }

}

@media screen and (min-width: 1400px) {

    .bottom {
        height: 126px;
        margin-top: -126px;
    }

}
