$base-family:     $f-PT-Sans;
$base-color:      #736b6b;
$link-color:      #388eb6;
$base-fontsize:   22px;
$base-lineheight: 1.22727272727273; /*27px*/


/* ==========================================================================
   Base styles
   ========================================================================== */

body {
    font: #{$base-fontsize} / #{$base-lineheight} $base-family;
    color: $base-color;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


a {
    color: $link-color;
    &:hover { text-decoration: none; }
}


img {
    vertical-align: middle;
    max-width: 100%;
}

textarea {
    resize: vertical;
}


