.footer {
    position: relative;
    height: 94px;
}
    .footer__copyright {
        position: absolute;
        top: 40px;
        right: 0;
    }

    .footer__social {
        position: absolute;
        left: 0;
        top: 33px;
    }