.iphone {
    position: relative;
    background: url($img-path+'iphone.png?5') no-repeat center center;
    @include background-size(100% auto);
    width: 100%;
    height: 0;
    padding: 0 0 200%;
}
    .iphone__inner {
        position: absolute;
        left:   11.352657004831%;
        right:  11.352657004831%;
        top:    16.225961538462%;
        bottom: 15.504807692308%;
    }