.iphone {
    width: 139px;
    height: 246px;
    padding: 52px 15px;
    background: url($img-path+'iphone.png?1') no-repeat center center;

    @include respond-to(retina) {
        background-image: url($img-path+'iphone@2x.png?1');
        @include background-size(cover);
    }
}