.page {

}
    .page__slide {
        @include background(linear-gradient(#fafafa, #fff));
        @include background-size(100% 70px);
        background-repeat: no-repeat;
    }

    .page__slide_pizza {
        background: url($img-path+'pizza.jpg') no-repeat center center;
        @include background-size(cover);
    }

    .page__footer {
        background: #fff;
        @include box-shadow(0 -4px 7px 0 rgba(8,5,4, .28));
    }