.page {

}
    .page__slide {
        background: url($img-path+'slide__background.png') repeat-x center top;
    }

    .page__slide_pizza {
        background: url($img-path+'slide__pizza.jpg') no-repeat center top;
    }

    .page__footer {
        background: #fff;
        @include box-shadow(0 -4px 7px 0 rgba(8,5,4, .28));
    }