.ribbon {
    height: 60px;
    line-height: 60px;
    background: #a4c65a;
    border-top: 1px solid #9fbc56;
    @include box-shadow(0 -4px 7px 0 rgba(8,5,4, .28));
    text-align: center;
    color: #fff;
}