$rounded: 45px;
$rounded__large: 57px;

.rounded {
    display: inline-block;
    vertical-align: middle;
    width: $rounded;
    height: $rounded;
    @include border-radius(50%);
    background-repeat: no-repeat;
    @include background-size(auto 100%);

    background-image: url($img-path + 'icon_' + $rounded + '.png');
    @include respond-to-retina() { background-image: url($img-path + 'icon_' + $rounded + '@2x' + '.png'); }
}

.rounded_facebook       { background-color: #3f5e9b; background-position: #{-($rounded*0)} 0;}
.rounded_facebook:hover { background-color: #203662; }
.rounded_twitter        { background-color: #209bd6; background-position: #{-($rounded*1)} 0;}
.rounded_twitter:hover  { background-color: #27759a; }
.rounded_youtube        { background-color: #ec3a39; background-position: #{-($rounded*2)} 0;}
.rounded_youtube:hover  { background-color: #b72928; }
.rounded_github         { background-color: #585858; background-position: #{-($rounded*3)} 0;}
.rounded_github:hover   { background-color: #323232; }


@media only screen and (min-width: 1400px) {
    .rounded {
        width: $rounded__large;
        height: $rounded__large;

        background-image: url($img-path + 'icon_' + $rounded__large + '.png');
        @include respond-to-retina() { background-image: url($img-path + 'icon_' + $rounded__large + '@2x' + '.png'); }
    }
    .rounded_facebook       { background-position: #{-($rounded__large*0)} 0; }
    .rounded_twitter        { background-position: #{-($rounded__large*1)} 0; }
    .rounded_youtube        { background-position: #{-($rounded__large*2)} 0; }
    .rounded_github         { background-position: #{-($rounded__large*3)} 0; }

}