$screen-shot-width: 139px;
$screen-shot-height: 246px;

.screen-shot {
    width: $screen-shot-width;
    height: $screen-shot-height;
    background: url($img-path+'screenshot.jpg') no-repeat;
    @include respond-to(retina) {
        background-image: url($img-path+'screenshot@2x.jpg');
        @include background-size(auto 100%);
    }
}

.screen-shot_setup-button { background-position: #{-($screen-shot-width*0)} #{-($screen-shot-height*0)}; }
.screen-shot_push-button  { background-position: #{-($screen-shot-width*1)} #{-($screen-shot-height*0)}; }
.screen-shot_profit       { background-position: #{-($screen-shot-width*2)} #{-($screen-shot-height*0)}; }
