.slide-video {
    position: relative;
    height: 980px;
}
    .slide-video__first-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        text-align: center;
    }

    .slide-video__first-video {
        position: absolute;
        left: -2px;
        right: -2px;
        top: 63px;
    }

    .slide-video__second-title {
        position: absolute;
        left: 0;
        right: 0;
        top: 430px;
        text-align: center;
    }

    .slide-video__second-video {
        position: absolute;
        left: -2px;
        right: -2px;
        top: 473px;
    }

    .slide-video__button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 32px;
        text-align: center;
    }