.slide-push {
    position: relative;
    height: 420px;
}
    .slide-push__screenshot {
        position: absolute;
        right: 0;
        top: 26px;
    }

    .slide-push__text {
        position: absolute;
        left: 0;
        top: 120px;
    }