.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
    .slideshow__item {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include background-size(100% 100%);
        display: none;
        &:first-child { display: block; }
    }

    .slideshow__item_first  { background-image: url($img-path+'slide1.jpg'); }
    .slideshow__item_second { background-image: url($img-path+'slide2.jpg'); }
    .slideshow__item_third  { background-image: url($img-path+'slide3.jpg'); }