.social {
    display: inline-block;
}
    .social__title {
        position: relative;
        display: inline-block;
        top: 1px;
        color: #949191;
    }

    .social__buttons {
        display: inline-block;
        margin: 0 0 0 7px;
    }